/* Basic Styles */

:root {
  --warriors-blue: #1d428a;
  --warriors-gold: #ffc72c;
  --nets-black: #000000;
  --nets-white: #ffffff;
  --lakers-purple: #552583;
  --lakers-gold: #fdb927;
  --clippers-red: #c8102e;
  --clippers-blue: #1d428a;
  --bucks-green: #00471b;
  --bucks-cream: #eee1c6;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --dark-background: rgba(0, 34, 64, 0.7);
  --nba-background-image: url(./Images/Icons/nba_hardwood_logo.jpg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

#gameover-img {
  width: 90vw;
}

body {
  background-color: #000000;
  font-family: fantasy;
}

h1 {
  font-size: 4rem;
}

h1 img {
  width: 3rem;
}

/* Team Styling / Team Colorways */

/* Golden State Warriors Colorway */

h1.warriorscolway {
  color: var(--warriors-gold);
  text-shadow: var(--warriors-blue) 4px 3px 2px;
}

.die.attack.warriorscolway {
  background-color: var(--clippers-red);
}

.die.defense.warriorscolway {
  background-color: var(--clippers-blue);
}

.btn.warriorscolway {
  color: var(--warriors-gold);
  text-shadow: #020819 4px 3px 2px;
}

.btn.boost.warriorscolway {
  background-image: url(./Images/Player_Images/gsw_boost.webp);
}

.btn.offense.warriorscolway {
  background-image: url(./Images/Player_Images/gsw_attack.webp);
}

.btn.endturn.warriorscolway {
  background-image: url(./Images/Player_Images/gsw_endturn.jpg);
}

.inner-result.warriorscolway {
  color: var(--warriors-gold);
  background-color: var(--warriors-blue);
  text-shadow: #020819 4px 3px 2px;
}

/* Brooklyn Nets Colorway */

h1.netscolway {
  color: var(--nets-white);
  text-shadow: var(--nets-black) 4px 3px 2px;
}

.die.attack.netscolway {
  background-color: var(--clippers-red);
}

.die.defense.netscolway {
  background-color: var(--clippers-blue);
}

.btn.netscolway {
  color: var(--nets-white);
  text-shadow: #020819 4px 3px 2px;
}

.btn.boost.netscolway {
  background-image: url(./Images/Player_Images/nets_boost.webp);
}

.btn.offense.netscolway {
  background-image: url(./Images/Player_Images/nets_offense3.jpg);
}

.btn.endturn.netscolway {
  background-image: url(./Images/Player_Images/nets_endturn2.jpg);
}

.inner-result.netscolway {
  color: var(--nets-black);
  background-color: var(--nets-white);
}

/* SVG Styling */

svg {
  /* background-image: var(--nba-background-image); */
  /* background-position: center; */
  /* background-size: 300px; */
  margin-bottom: 100px;
}

.country {
  fill: white;
  stroke-width: 0.97;
}

.country:hover {
  stroke-width: 3.97;
  cursor: pointer;
  stroke: yellow;
}

text {
  font: italic 1rem sans-serif;
  fill: white;
  stroke-width: 0;
}

image {
  width: 20px;
}

/* Dice Styling */

.display-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.die {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  text-shadow: #020819 4px 3px 2px;
}

/* .die.attack {
  background-color: var(--clippers-red);
}

.die.defense {
  background-color: var(--clippers-blue);
} */

/* Button Styling */

.control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem 0;
}

.btn {
  width: 30vw;
  height: 40vh;
  font-weight: bold;
  font-size: 3rem;
  font-family: fantasy;
  outline: 1px solid black;
}

.btn.boost {
  background-size: cover;
}

.btn.offense {
  background-size: cover;
}

.btn.endturn {
  background-size: cover;
}

.btn:hover {
  outline: 2px solid gold;
  cursor: pointer;
}

/* Result Box Styling */

.display-result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem;
  flex-direction: column;
}

.inner-result {
  display: flex;
  width: 60vw;
  height: 12rem;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  font-size: 3rem;
}

#confirm-btn {
  display: flex;
  width: 30vw;
  height: 4rem;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: black;
}

.activate-hover {
  background-color: yellow;
}

.activate-hover:hover {
  outline: 2px solid gold;
  cursor: pointer;
}

/* Continent Styling / Division Styling */

.pacific,
.continent-1 {
  fill: cornflowerblue;
}

.mountain,
.continent-2 {
  fill: chocolate;
}

.wnorthcentral,
.continent-3 {
  fill: forestgreen;
}

.wsouthcentral,
.continent-4 {
  fill: crimson;
}

.enorthcentral,
.continent-5 {
  fill: cadetblue;
}

.esouthcentral,
.continent-6 {
  fill: coral;
}

.satlantic,
.continent-7 {
  fill: darkmagenta;
}

.matlantic,
.continent-8 {
  fill: red;
}

.natlantic,
.continent-9 {
  fill: pink;
}
