@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --warriors-blue: #1d428a;
  --warriors-gold: #ffc72c;
  --nets-black: #000000;
  --nets-white: #ffffff;
  --lakers-purple: #552583;
  --lakers-gold: #fdb927;
  --clippers-red: #c8102e;
  --clippers-blue: #1d428a;
  --bucks-green: #00471b;
  --bucks-cream: #eee1c6;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --dark-background: rgba(0, 34, 64, 0.7);
  --nba-background-image: url(./Images/Icons/nba_hardwood_logo.jpg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  background-color: #000000;
  font-family: fantasy;
}

text {
  font: italic 15px sans-serif;
  fill: black;
}

.small {
  font: italic 13px sans-serif;
}

h1 {
  color: var(--warriors-gold);
  font-size: 4rem;
  text-shadow: var(--warriors-blue) 4px 3px 2px;
}

h1 img {
  width: 50px;
}

svg {
  background-image: var(--nba-background-image);
  background-position: center;
  background-size: 300px;
}

.country {
  fill: white;
  stroke-width: 0.97;
}

.country:hover {
  fill: yellow;
  stroke-width: 3.97;
  cursor: pointer;
}

.display-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.die {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: fantasy;
  color: white;
  text-shadow: #020819 4px 3px 2px;
}

.die.attack {
  background-color: var(--clippers-red);
}

.die.defense {
  background-color: var(--clippers-blue);
}

.btn {
  padding: 100px 110px;
  margin: 20px 40px;
  color: var(--warriors-gold);
  font-weight: bold;
  font-size: 3rem;
  font-family: fantasy;
  outline: 1px solid black;
  text-shadow: #020819 4px 3px 2px;
}

.btn.boost {
  background-image: url(./Images/Player_Images/gsw_boost.webp);
  background-size: cover;
}

.btn.offense {
  background-image: url(./Images/Player_Images/gsw_attack.webp);
  background-size: cover;
}

.btn.endturn {
  background-image: url(./Images/Player_Images/gsw_endturn.jpg);
  background-size: cover;
}

.btn:hover {
  outline: 2px solid var(--warriors-gold);
  cursor: pointer;
}

.display-result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.inner-result {
  display: flex;
  width: 500px;
  height: 150px;
  color: var(--warriors-gold);
  background-color: var(--warriors-blue);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  font-size: 3rem;
  text-shadow: #020819 4px 3px 2px;
}
